

<form action="/views/new" method="post">
   <label>Spel_namn <input type="text" name="spel_name"></label>
   <label>Pris <input type="text" name="spel_tastiness"></label>
   <label>Beskrivning <input type="text" name="spel_description"></label>
   <input type="submit" value="Spara">
</form>