<h2>Alla spelen</h2>

<ul>
<% @spel.each do |spel| %>
  <li><a href="/views/<%= spel['id']%>"><%= spel['name'] %></a> 
    <form action="/views/<%=spel["id"]%>/delete" method="post">
      <input type="submit" value="ta bort"> 
    </form>
    <form action="/views/<%=fruit["id"]%>/edit" method="get">
      <input type="submit" value="Ändra"> 
    </form>
  </li>
<% end %>
</ul>