
<div class="låda">
<form action="/fruits/new" method="post">
   <label>Frukt <input type="text" name="fruit_name"></label>
   <label>Smak <input type="text" name="fruit_tastiness"></label>
   <label>Beskrivning <input type="text" name="fruit_description"></label>
   <input type="submit" value="Spara">
</form></div>