body {
  font-family: sans-serif;
  color: white;
  background-color: #203454;;
  font-size: x-large;
  margin: 1em;
  overflow-y: hidden;
  overflow-x: hidden;
}


.backferg{
  float: top;
  border-radius: 25px 25px;
  width: 300px;
  height: 180px;
  background-color: #243d66;
  box-shadow:  rgb(41,128,185) 0px 25px 50px -12px;
  color: white;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}

.namn_div{
  padding-left: 20px;
  padding-top: 3px;
  font-size: 30px;
}


.beskrivning_div{
  padding-left: 20px;
  padding-top: 15px;
  font-size: 18px;

}
.skapare_div{
  padding-left: 20px;
  padding-top: 30px;
  font-size: 10px;
}

.knappar_div{
  display: flex;
  justify-content: bottom;
padding-top: 20px;
padding-left: 90px;
}



.edit_holder{
  background-color: #243d66;
  width: 500px;
  height: 80vh;
  float: right;
  position: absolute;
  top: 50px;
  left: 60vw;
  box-shadow:  rgb(18, 24, 27) 0px 25px 50px -12px;
}

.loggin{
  display: flex;
  flex-direction: column;
position: absolute;
top: 300px;
}

.creat{
  display: flex;
  flex-direction: column;
 

}