<h2>Alla spelen</h2>

<ul>
<% @spel.each do |spel| %>
  <li><a href="/spel/<%= spel['id']%>"><%= spel['name'] %></a> 
    <form action="/spel/<%=spel["id"]%>/delete" method="post">
      <input type="submit" value="ta bort"> 
    </form>
    <form action="/spel/<%=spel["id"]%>/edit" method="get">
      <input type="submit" value="Ändra"> 
    </form>
  </li>
<% end %>
</ul>


<form action="/spel" method="post">
   <label>spelets namn <input type="text" name="spel_namn"></label>
   <label>pris <input type="text" name="spel_pris"></label>
   <label>beskrivning <input type="text" name="spel_beskrivning"></label>
   <input type="submit" value="Spara">
</form>