<div class="loggin">
<form action="/loggin/new" method="post">
<label>Ur username <input type="text" name="username"></label>
<label>Ur password <input type="text" name="password"></label>
<input type="submit" value="Spara">
</form>
</div>